USE [master]
GO
/****** Object:  Database [BBookDB]    Script Date: 6/26/2016 1:10:01 PM ******/
CREATE DATABASE [BBookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BBookDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BBookDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BBookDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BBookDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BBookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BBookDB]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentDesc] [varchar](200) NOT NULL,
	[StatusId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[PersonName] [varchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CoverPic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CoverPic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [varchar](50) NULL,
	[Pic] [varbinary](max) NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_CoverPic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Friends](
	[PersonId] [int] NOT NULL,
	[FriendId] [int] NULL,
	[FriendRequestId] [int] NULL,
	[FriendResponseId] [int] NULL,
	[FriendName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Like]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Like](
	[StatusId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[PersonName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Person]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Gender] [varchar](20) NOT NULL,
	[Address] [varchar](100) NULL,
	[School] [varchar](50) NULL,
	[Relationship] [varchar](20) NULL,
	[Work] [varchar](50) NULL,
	[Hobby] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProfilePic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProfilePic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [varchar](50) NULL,
	[Pic] [varbinary](max) NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_ProfilePic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post] [varchar](200) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Personid] [int] NOT NULL,
	[PersonName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CoverPic] ON 

SET IDENTITY_INSERT [dbo].[CoverPic] OFF
SET IDENTITY_INSERT [dbo].[ProfilePic] ON 

SET IDENTITY_INSERT [dbo].[ProfilePic] OFF
/****** Object:  Index [IX_ProfilePic]    Script Date: 6/26/2016 1:10:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProfilePic] ON [dbo].[ProfilePic]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetCoverPicById]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetCoverPicById]
@Id int
as 
BEGIN 
	SELECT * FROM CoverPic WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[GetCoverPicByPersonId]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetCoverPicByPersonId]
@PersonId int
as 
BEGIN 
	SELECT * FROM CoverPic WHERE PersonId = @PersonId
END

GO
/****** Object:  StoredProcedure [dbo].[GetProPicById]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProPicById]
@Id int
as 
BEGIN 
	SELECT * FROM ProfilePic WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[GetProPicByPersonId]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetProPicByPersonId]
@PersonId int
as 
BEGIN 
	SELECT * FROM ProfilePic WHERE PersonId = @PersonId
END

GO
/****** Object:  StoredProcedure [dbo].[SaveCoverePic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SaveCoverePic]
@Caption Varchar(50),
@Pic varbinary(MAX),
@PersonId int,
@NewId int output
as 
BEGIN 
	INSERT INTO CoverPic
	VALUES(@Caption, @Pic, @PersonId)

	SELECT @NewId = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[SaveCoverPic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SaveCoverPic]
@Caption varchar(50),
@Pic varbinary(MAX),
@PersonId int,
@NewId int output
as
BEGIN
	INSERT INTO CoverPic 
	VALUES(@Caption, @Pic, @PersonId)

	SELECT @NewId = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[SaveProfilePic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SaveProfilePic]
@Caption Varchar(50),
@Pic varbinary(MAX),
@PersonId int,
@NewId int output
as 
BEGIN 
	INSERT INTO ProfilePic
	VALUES(@Caption, @Pic, @PersonId)

	SELECT @NewId = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateCoverPic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateCoverPic]
@Caption Varchar(50),
@Pic varbinary(MAX),
@PersonId int,
@NewId int output
as 
BEGIN 
	UPDATE CoverPic SET
	Caption = @Caption, 
	Pic = @Pic
	WHERE PersonId = @PersonId

	SELECT @NewId = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateProfilePic]    Script Date: 6/26/2016 1:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateProfilePic]
@Caption Varchar(50),
@Pic varbinary(MAX),
@PersonId int,
@NewId int output
as 
BEGIN 
	UPDATE ProfilePic SET
	Caption = @Caption, 
	Pic = @Pic
	WHERE PersonId = @PersonId

	SELECT @NewId = SCOPE_IDENTITY()
END

GO
USE [master]
GO
